// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// color
$principalColor: #ff385c;
$secondColor: #FFFFFF;
$confirmedColor: #0bdf15;
$thirdColor: #282A3A;

// change breakpoints bootstrap
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1180px,
    xl: 1400px,
    xxl: 1800px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1610px
);

// Import BT sources
@import "../node_modules/bootstrap/scss/bootstrap";