// Fonts
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// general rules
body {
    font-family: 'Sono', sans-serif;
}

a {
    text-decoration: none;
}

// grafica del logo nella nav bar della pagina
.ms_slot_logo {

    img {
        width: 50px;
        height: auto;
    }
}

.ms_slot_boolbnb_title {
    h1 {
        color: $secondColor;
        font-size: 24px;
        font-weight: 600;
    }
}

// =============================

// grafica dell'header della pagina
.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $principalColor;

    .cont-header {
        width: 80%;
        max-width: 1140px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .cont-home {
            width: 10%;
        }

        .cont-user {
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: end;
            align-items: center;

            a {
                font-weight: 600;
                color: $secondColor;
                padding: 5px 10px;
                border: solid 2px $secondColor;
                border-radius: 30px;
            }
        }
    }
}

// ===========================================

.main {
    height: calc(100vh - 120px);
    width: 100%;
    overflow-y: auto;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: $principalColor;
}