// Fonts
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

a {
    text-decoration: none;
}

body {
    font-family: 'Sono', sans-serif;
}

// grafica pagina welcome.blade.php
.ms_section_welcome_header {
    border-bottom: solid 2px $principalColor;
}

.ms_nav_welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ms_slot_logo {

        img {
            width: 50px;
            height: auto;
        }
    }

    .ms_slot_boolbnb_title {
        h1 {
            color: $principalColor;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .ms_link_nav_welcome {
        color: $principalColor;
        font-weight: 500;
        padding: 5px 10px;
        border: solid 1px $principalColor;
        border-radius: 30px;
    }
}

// ======================